{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}


<style>
.div-bg {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

#btn-color-picker {
    background:#75F9A0;
     color:#FF0000;
    
    /*border: #000 1px solid;
    padding: 2px;
    cursor: pointer;*/
}

.themed-grid-col{
    padding-top: 15px;
padding-bottom: 15px;
background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);

.container{
    padding-top: 15px;
    padding-bottom: 15px;
 /*background:#75F9A0;
   */  color:#FF0000;
    
}
#btn-color-picker:hover {
    background:#0A7C28;
    font-size:1em;
  /*  border: #000 1px solid;
    padding: 2px;
    cursor: pointer;*/
}
</style>
{% endblock %}
{% block title %}Edit Persona{% endblock %}

{% block body %}
    <h1>Edit Persona</h1>

    {{ include('persona/_form.html.twig', {'button_label': 'Update'}) }}
    
     <div class="row col-sm-4">
  <div class="col"> <a href="{{ path('persona_index') }}" class="btn btn-primary" id="btn-color-picker">back to list</a></div>
  <div class="col"> {{ include('persona/_delete_form.html.twig') }}</div>

</div> 
   
   
   

{% endblock %}
